@import "config";

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: right;
  opacity: 0.6;
  font-size: 16px;
  padding: 15px;
  background: $nav-background;

  li {
    display: inline;
    padding: 10px;
  }
  ul {
    list-style: none;

    .title {
      margin-right: 55em;
      color: white;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: lighten($nav-background, 20);
  }
}
.container {
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 37em 38em;
  z-index: 1;
  .arrow {
    padding-left: 25px;
  }
  .arrow:hover {
    cursor: pointer;
  }
}
.slide {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.main-img {
  background-image: $main-image;
}
.main-img2 {
  background-image: $main-image2;
}
.main-img3 {
  background-image: $main-image3;
}
#middle-nav {
  text-align: center;
  margin: 2em;
  text-transform: uppercase;
  font-size: 16px;
}

.welcome {
  display: grid;
  grid-template-columns: auto auto;
  color: white;
  background: black;
  text-align: center;

  .side-1 {
    height: 20em;
    margin: 1em;

    h2 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.2rem;
      padding: 2em;
    }
  }

  .side-2 {
    height: 100vh;
    width: 100vh;
    background: $side-image;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }
}

.find {
  height: 100vh;
  width: 100%;
  background: $find-image;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .buttons {
    margin-left: 10em;
    margin-top: 35em;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1.5em;
    .button {
      padding: 1.8em 11em;
      background: black;
      opacity: 0.3;
      border-style: none;
    }
    .button:hover {
      background: blue;
    }

    .b1 {
      .button-text {
        font-size: 1rem;
        color: white;
        position: absolute;
        top: -12px;
        left: 1em;
        z-index: 1;
        pointer-events: none;
      }
      .button-text2 {
        @extend .button-text;
        font-size: 1.2rem;
        top: 10px;
        left: 1rem;
        text-transform: uppercase;
      }
    }

    .b2 {
      @extend .b1;

      .button-text {
        left: 24.5em;
      }

      .button-text2 {
        left: 20.5em;
      }
    }

    .b3 {
      @extend .b1;

      .button-text {
        left: 48em;
      }

      .button-text2 {
        left: 40em;
      }
    }
  }
}

.middle-welcome {
  height: auto;
  display: flex;
  .middle-side1 {
    width: 45%;
    margin-left: 5em;

    h2 {
      margin-top: 5em;
      margin-bottom: 1em;
      width: 80%;
      font-size: 1.2rem;
      text-align: left;
    }

    p {
      width: 65%;
      font-size: 1rem;
      text-align: left;
      line-height: 2.5em;
    }
  }

  .middle-side2 {
    height: auto;
    width: 27.5%;
    background: $side1-image;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 15em;
    margin-left: -10em;
    box-shadow: auto auto;
  }

  .middle-side3 {
    height: 40rem;
    width: 25rem;
    background: blue;
    margin: 8em 3em;

    h2 {
      margin: 0 5em;
      margin-top: 5em;
      font-size: 1rem;
      text-align: center;
      line-height: 2em;
      color: white;
    }

    .icons {
      display: inline-block;
      margin: 4rem 7.6rem;

      color: white;
    }
  }
}

.footer {
  display: grid;
  grid-template-columns: 30em auto;
  height: 20em;
  background: darken($color: grey, $amount: 10);
  color: grey;
  position: relative;

  .side1 {
    text-align: center;
    padding-top: 2em;
    color: white;
  }

  .side2 {
    background: darken($color: grey, $amount: 30);
    display: flex;
    span {
      position: absolute;
      margin-left: 25em;
      text-align: center;
      align-self: flex-end;
      margin: 0 220px;
    }

    .section-head {
      margin-top: 2.5em;
      margin-left: 8.5em;
      position: absolute;

      p {
        display: inline;
        padding-right: 15em;
        font-size: 1rem;
        color: white;
      }
    }

    ul {
      margin-top: 6em;
      margin-left: 8em;
      list-style: none;

      li {
        display: block;
        padding: 10px;
        a {
          text-decoration: none;
          color: grey;
          font-size: 1rem;
        }
        a:hover {
          color: lightgray;
        }
      }
    }
  }
}
