@import "config";

* {
  margin: 0;
  padding: 0;
}

#nav {
  text-align: right;
  font-size: 36px;
  padding: 25px;
  background: $nav-background;

  li {
    display: inline;
  }
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: lighten($nav-background, 40);
  }
}

.main-img {
  background: $main-image;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.test {
  background: red;
}
